:root{
    --black: #1A1A1A;
    --black-low-emphasis: rgba(26, 26, 26, 0.60);
    --Walsheim: 'GT Walsheim Pro';
    --Serif:'Noto Serif';
}

@font-face{
    font-family: 'GT Walsheim Pro';
    src: url('../assets/font/GTWalsheimPro-Medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Value Serif';
    src: url('../assets/font/Value-Serif.woff') format('woff');
}

@font-face {
    font-family: 'Value Serif Pro';
    src: url('../assets/font/Value-Serif-Pro.woff') format('woff');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

.reviews{
    background: #ECF494;
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: center;
}

.header-menu{
    align-items: center;
    border-bottom: 1px solid #F6F4EF;
    display: flex;
    justify-content: space-between;
    padding: 24px 60px;
}

.header-menu .logo{
    font-family: 'Montserrat Alternates';
    font-size: 42px;
    font-weight: bold;
}

.header-menu .header-menu__middle li{
    color: var(--black);
    display: inline-block;
    padding: 0 24px;
    font-family: 'GT Walsheim Pro';
    font-size: 18px;
    letter-spacing: .5px;
}

.header-menu__right{
    align-items: center;
    display: flex;
}

.icon-menu{
    margin-top: 10px;
}

.icon-menu .search{
    background-image: url('../assets/icon/search.svg');
    height: 24px;
    display: inline-block;
    vertical-align: center;
    width: 24px;
}

.icon-menu .user-circle{
    background-image: url('../assets/icon/user-circle.svg');
    height: 24px;
    display: inline-block;
    margin: 0 40px;
    width: 24px;
}

.icon-menu .shopping{
    background-image: url('../assets/icon/shopping.svg');
    height: 24px;
    display: inline-block;
    width: 24px;
}

.header-menu__right button{
    background: var(--black);
    border-radius: 8px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    margin-left: 28px;
    padding: 12px 28px;
}

.header-container{
    background-image: url('../assets/img/header-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
}

.header-container .header-container__title-page{    
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 587px;
    margin-left: 60px;
    width: 500px;
    z-index: 2;
}

.header-container h1{  
    font-family: 'Value Serif';
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
    
}

.header-container button{
    background-color: var(--black);
    border-radius: 8px;
    color: #EAF586;
    font-family: 'GT Walsheim Pro';
    font-size: 14px;
    margin-top: 48px;
    padding: 8px 20px;
    width: 200px;
}

.header-imagen{
    right: 0;
    position: absolute;
    z-index: 1;
}

.header-container .header-container__benefits{
    display: flex;
    justify-content: space-between;
    margin: 60px;
}
.header-container .header-container__benefits > div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 350px;
}

.header-container .header-container__benefits .icon{
    height: 24px;
    margin-right: 12px;
    width: 24px;
}

.header-container .header-container__benefits .title{
    color: var(--black);
    font-family: 'Value Serif Pro';
    font-size: 20px;
    letter-spacing: 0.24px;
}

.header-container .header-container__benefits .text{
    color: var(--black-low-emphasis);
    font-family: 'GT Walsheim Pro';
    font-size: 16px;
    margin-left: 44px;
}


/* Section */
.section-container{
    align-items: center; 
    background: linear-gradient(180deg, #EDEDF5 0%, rgba(246, 246, 210, 0.24) 100%), #FFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 60px 0;
}

.section-discover{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.section-discover > span{
    font-family: 'Inter';
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.section-discover h2{
    color: var(--black);
    font-family: 'Value Serif Pro';
    font-size: 48px;
    margin-bottom: 72px;
}

.section-discover .section-discover__menu{
    display: flex;
    justify-content: center;
}

.section-discover .section-discover__menu .item-menu{
    border-bottom: 1px solid var(--black);
    padding: 24px 32px;
}

.section-discover .item-menu .title{
    font-family: 'Value Serif Pro';
    font-size: 20px;
    text-align: center;
}

.section-discover .item-menu .text{
    color: rgba(26, 26, 26, 0.70);
    font-family: 'GT Walsheim Pro';
    font-size: 14px;
    text-align: center;
}

.section-discover .section-discover__card{
    display: flex;
    gap: 15px;
    margin-top: 48px;
}

.section-discover .item-card{
    background-color: #FFF;
    border-radius: 16px;
    height: 331px;
    padding: 20px;
    width: 248px;
}

.section-discover .item-card_background{
    background-image: url('../assets/img/card.svg');
    background-size: cover;
}

.section-discover .section-discover__card .item-card_background .title{
    color: var(--white, #FFF);
    font-family: 'Value Serif';
    font-size: 26px;
    font-weight: bold;
}

.section-discover .item-card .title{
    color: #000;
    font-family: 'Value Serif';
    font-size: 20px;
    font-weight: bold;
}

.section-discover .item-card .text{
    color: #808080;
    font-family: 'GT Walsheim Pro';
    font-size: 12px;
}

.section-discover .item-card .imagen{
    background-image: url('../assets/img/product.svg');
    background-size: cover;
    border-radius: 150px;
    display: block;
    height: 130px;
    margin: 38px auto;
    width: 130px;
}

.section-discover .item-card .button{
    margin: 0 auto;
    position: relative;
    width: 80%;
}

.section-discover .item-card .button a{
    background: #EAF586;
    border: 1px solid var(--black);
    border-radius: 8px;
    font-family: 'GT Walsheim Pro';
    font-size: 12px;
    padding: 8px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.section-discover .item-card .button span{
    border: 1px solid var(--black);
    border-radius: 8px;
    display: inline-block;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 7px;
    width: 100%;
}

/* Section Testimony */
.section-testimony{
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    width: 100%;
}

.section-testimony h2{
    font-family: 'Value Serif Pro';
    font-size: 48px;
}

.section-testimony .testimony__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 48px;
    width: 80%;
}

.section-testimony .item-card{
    background-color: #F6F7D4;
    color: #1A1A1A;
    font-family: 'GT Walsheim Pro';
    font-size: 14px;
    font-weight: 400;
    margin: 50px 30px;
    padding: 20px;
    position: relative;
    top: 40px;
    width: 307px;
}

.testimony__cards .item-card:nth-child(even){
    background: #FCF5EA;
    top: 0;
}

.section-testimony .item-card .logo{
    background-image: url('../assets/img/Ellipse.svg');
    background-size: cover;
    border-radius: 90px;
    display: block;
    height: 80px;
    position: absolute;
    right: 20px;
    top: -40px;
    width: 80px;
}

.section-testimony .item-card .logo_down{
    top: calc(100% - 40px)
}

.section-testimony .stars{
    margin-bottom: 17px;
}

.section-testimony .stars .black-star{
    background-image: url('../assets/icon/black-star.svg');
    display: inline-block;
    height: 18px;
    width: 18px;
}

.section-testimony .stars .grey-star{
    background-image: url('../assets/icon/grey-star.svg');
    display: inline-block;
    height: 19px;
    width: 19px;
}

.section-testimony .item-card .name{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 16px;
}

